{% extends 'bootstrap/base.html' %}

{% block content %}
<html>
    <head>
        <!-- style resources -->
        <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet"></link>
        <link href="{{ url_for('static', filename='images/WatsonLogo.png') }}" rel="icon" type="image/png"></link>
        <!-- scripts -->
        <script src="{{ url_for('static', filename='js/antixss.js') }}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://d3js.org/d3.v4.js"></script>
    </head>

    <body>
        <!-- app content block -->
        {% block app_content %}

        {% endblock %}
    </body>
</html>
{% endblock %}
